@import "johnson"

.jw-head
  background-image: url('../public/img/iceland.jpg');
  width: 100%;
  display: table;
  height: 800px;
  background-size: cover;
  padding-top: 100px;
  .btn-success
    background-color: transparent;
    &:default
      background-color: red;
    &:hover,
    &:focus
      background-color: transparent;

@media (max-width: $screen-md-max)
  .jw-head
    height: 300px

  .jw-sm-block
    display: block;

  .jw-hidden-md-down
    display: none !important

@media (min-width: $screen-md-min)
  .jw-hidden-md-up
    display: none !important

.jw-head-protrait
  text-align: center;
  margin-top: -80px;

.jw-head-img
  border-radius: 100%;
  width: 40px;
  height: 40px
  border: 3px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  &:hover
    animation: shake 2s ease-in-out;
    animation-iteration-count: 1, 0, infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

.jw-shake
  animation: shake 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

.jw-slider
  animation: slider 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

@keyframes slider {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
