@import '../../assets/style/johnson'

$menu-width = 250px
$menu-bg-color = #454955
$nabvar-height = 81px
$border-top-height = 5px

.vk-navbar
    border-top $border-top-height solid $brand-vanke
    border-bottom: 1px solid #ccc
    .nav-link
        color #666

.vk-navbar-logout
    margin-top: 10px      

.vk-no-padding
    padding-left: 0 !important;
    padding-right: 0 !important;

.vk-main
    padding-top: $nabvar-height
    @extends .vk-no-padding    

.vk-menu
    background: $menu-bg-color url("../assets/image/bird.png") no-repeat left bottom 
    position: fixed
    top: $nabvar-height
    bottom:0
    width: $menu-width

.vk-body
    background: rgb(248,248,248)    
    margin-left: $menu-width
    padding: 15px 15px
    .vk-body-content
        border 1px solid #ccc
        background: #fff 
        padding: 10px         
      
