<app-search-bar pagetitle = "{{pagetitle}}" (search) = "search($event)"></app-search-bar>
<ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-bootstrap table-bordered"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"

                     enableColResize
                     groupHeaders
                     suppressRowClickSelection
                     rowHeight="35"
                     headerHeight="35"
                     rowSelection="multiple"
                     >
        </ag-grid-ng2>