.jw-bg-primary
  bg-variant $brand-primary

.jw-bg-success
  bg-variant $brand-success

.jw-bg-info
  bg-variant $brand-info

.jw-bg-warning
  bg-variant $brand-warning

.jw-bg-danger
  bg-variant $brand-danger

.jw-bg-inverse
  bg-variant $brand-inverse
