bg-variant(bgcolor)
  background-color bgcolor
  color #fff
  a
    color: rgba(255, 255, 255, 1)
  li
    a
      color: rgba(255, 255, 255, 0.8);
      &.active
        color: rgba(255, 255, 255, 1)
  .dropdown-menu
    background: bgcolor
    a:hover
      color: #fff
      background-color: bgcolor
