font-gradient-variant(fromcolor,tocolor)
  background: -webkit-gradient(linear,left top,left bottom,from(fromcolor),to(tocolor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
