<form class="">
  <div class="form-group row">
    <div class="col-xs-3">
      <label for="exampleInputEmail1" class="sr-only">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-xs-3">
      <label for="exampleInputPassword1" class="sr-only">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="col-xs-3">
      <label for="exampleSelect1" class="sr-only">Example select</label>
      <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
