//Responsive variable
$screen-xs-min  = 544px
$screen-sm-min  = 768px
$screen-md-min  = 992px
$screen-lg-min  = 1200px

$screen-xs-max  = 543px
$screen-sm-max  = 767px
$screen-md-max  = 991px
$screen-lg-max  = 1199px

//color
//
// Grayscale and brand colors for use across program.
$gray-dark     = #373a3c;
$gray          = #55595c;
$gray-light    = #818a91;
$gray-lighter  = #eceeef;
$gray-lightest = #f7f7f9;

$brand-primary = #0275d8;
$brand-success = #5cb85c;
$brand-info    = #5bc0de;
$brand-warning = #f0ad4e;
$brand-danger  = #d9534f;
$brand-vanke   = #8fc81f;
$brand-inverse = $gray-dark;

//border
$border-radius = 5px;
$border-color  = rgba(0,0,0,0.3);
$border-width  = 1px;
$border-style  = solid;

//
$font-color    = rgb(141,148,154);
